.notification{
    position: relative;
    .notification-items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--primary-color);
      background-color: var(--secondary-color);
      border-radius: 12px;
      padding: 0.4rem 0.8rem 0.4rem 2rem;
      h5{
        color: var(--primary-color) !important;
      }
      span{
      color: var(--primary-color) !important;
      }
    }
    
  }