.template{
  position: relative;
  .templates-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 0.4rem 2rem;
    h5{
      color: var(--primary-color) !important;
    }
    span{
    color: var(--primary-color) !important;
    }
  }
  .disable-templates-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: not-allowed !important;
    border: 1px solid var(--primary-color);
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 12px;
    padding: 0.4rem 2rem;
    h5{
      color: var(--primary-color) !important;
    }
    span{
    color: var(--primary-color) !important;
    }
  }
  .dots{
    position: absolute;
    top: 28%;
    right: 1%;
  }
  
}
.tasks{
 .task-actions{
    position: absolute;
    top: 85%;
    left: 80%;
    @media screen and (max-width: 1850px) {
      left: 77%;
    }
    @media screen and (max-width: 1630px) {
      left: 74%;
    }
    @media screen and (max-width: 1450px) {
      left: 70%;
    }
    @media screen and (max-width: 1350px) {
      left: 68%;
    }
    @media screen and (max-width: 1040px) {
      left: 62%;
    }
    @media screen and (max-width: 900px) {
      left: 57%;
    }
    @media screen and (max-width: 820px) {
      left: 52%;
    }
    @media screen and (max-width: 700px) {
      left: 45%;
    }
    @media screen and (max-width: 575px) {
      left: 20%;
    }
  }
}
.add-task{
  .attach-document{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--secondary-color);
    margin-top: 0.5rem;
    position: relative;
    input{
      position: absolute;
      left: 0;
      top: 0;
      height: 120px;
      width: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }
  small{
    color: var(--primary-color)  !important;
  }
}